.my-elements{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.second-part{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.second-first-part{
  display: flex;
}