.my-elements{
  display: flex;
  
  
  flex-direction: column;
}

.second-part{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.second-first-part{
  display: flex;
  flex-direction: column;
}

.second-first-part button{
  width: 2rem;
}