.my-elements{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.my-elements h1{
  font-size: 10rem;
}

.second-part{
  display: flex;
  
  flex-wrap: wrap;
  margin-top: 4rem;
  justify-content: space-between;
}

.second-first-part{
  display: flex;
  flex-direction: column;
}

.second-first-part button{
  width: 10em;
}

.second-second-part{
  display: flex;
  flex-direction: column;
}

.second-second-part button,input{
  width: 10em;
}